@import '../__css__/grid.scss';
@import '../__css__/colors.scss';

.help {
  margin: 3em auto;
  @include site-container;

  h1 {
    margin-bottom: 1em;
  }
}

.container {
  @include span(12);
}

.content-container {
  padding: gutter(6) 3em;
  background-color: white;
}

.question {
  font-weight: bold;
  color: $color-font-dark;
}

.answer {
  margin-bottom: 2em;
  &:last-child {
    margin-bottom: 1em;
  }
}

.list {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0;

  li {
    margin: 1em 0;
    * {
      vertical-align: middle;
    }
  }
}

.video-container {
}
