@import '../../__css__/animations.scss';
@import '../../__css__/colors.scss';
@import '../../__css__/font-families.scss';
@import '../../__css__/typography.scss';

.input {
  @include font-size-default;
  @include animation-ease-in-out(box-shadow);

  outline: none;
  box-sizing: border-box;
  padding: .5em;
  background-color: $color-gray-light-4;
  border: 1px solid $color-gray-light-2;
  line-height: 1.5em;
  width: 100%;

  &--error {
    box-shadow: 0 0 5px $color-red ! important;
  }

  &:focus {
    box-shadow: 0 0 5px $color-bg-action;
    border: 1px solid $color-bg-action;
  }

  &:disabled {
    background-color: $color-gray-light-2;
    color: $color-gray-light-1;
    cursor: not-allowed;
  }
}
