@import '../__css__/colors.scss';
@import '../__css__/font-families.scss';
@import '../__css__/grid.scss';
@import '../__css__/typography.scss';

.container {
  @include site-container;
  margin-top: 3em;

  h1 {
    margin-bottom: 1em;
  }
}

.courses {
  @include span(12);
  margin-bottom: 1em;
}

.content-container {
  margin-top: 2em;
}

.spinner-container {
  text-align: center;
}

.material-toggle {
  @include span(12 no-gutter);
  margin-bottom: 1.5em;

  a {
    @include span(6);
    @include font-family-OpenSans;

    color: white;
  }
}
