@import "../../__css__/animations.scss";
@import "../../__css__/colors.scss";
@import "../../__css__/font-families.scss";
@import "../../__css__/typography.scss";

.label {
  @include font-size-default;
  box-sizing: border-box;
  margin: 0.5em 0;
  line-height: 1.5em;

  &.error input + span {
    box-shadow: 0 0 5px $color-red !important;
  }

  input {
    position: absolute;
    opacity: 0;

    & + * {
      cursor: pointer;
    }

    &:disabled,
    &:disabled + * {
      cursor: not-allowed;
    }

    & + span {
      @include animation-ease-in-out(box-shadow);
      outline: none;

      display: inline-block;
      content: "";
      width: 1.5em;
      height: 1.5em;
      background-color: $color-gray-light-4;
      border: 1px solid $color-gray-light-2;
      margin-right: 0.5em;
      text-align: center;
      vertical-align: top;
    }

    &:focus + span {
      box-shadow: 0 0 7.5px $color-bg-action;
    }

    &:checked + span:before {
      display: inline-block;
      content: "";
      height: 1.5em;
      width: 1.5em;
      background-image: url(../checkbox/checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1em 1em;
    }

    &:disabled + span {
      background-color: $color-gray-light-2;
    }

    &:disabled + span:before {
      background-color: $color-gray-light-1;
    }
  }
}
