// App Camps color pallette
$color-white: #FFFFFF;
$color-black: #000000;
$color-red: #FF877F;
$color-red-light: #F9F1F0;

$color-green: #7AB51E;
$color-green-light-1: #C8E39D;
$color-green-light-2: #E9F0DE;

$color-gray: #A4A9AF;
$color-gray-light-1: #C8CBCC;
$color-gray-light-2: #E6E5E5;
$color-gray-light-3: #F8F8F9;
$color-gray-light-4: #FCFCFC;
$color-gray-dark-1: #656869;
$color-gray-dark-2: #282F3F;

// Named colors
$thredded-brand: $color-green;
$thredded-dark-gray: $color-gray-dark-2;
$thredded-light-gray: $color-gray-light-2;

// Colors of text, background, actions (links), and navigation
$thredded-text-color: $color-black;
$thredded-secondary-text-color: $color-gray;
$thredded-background-color: $color-gray-light-3;
$thredded-action-color: $thredded-brand;
$thredded-action-hover-color: $thredded-action-color;
$thredded-action-transition: color 0.1s linear;
$thredded-nav-color: $thredded-text-color;
$thredded-nav-hover-color: $thredded-action-color;
$thredded-nav-current-color: $thredded-action-color;
$thredded-overlay-background-color: opacify($thredded-background-color, 1);
$thredded-overlay-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
$thredded-secondary-nav-color: $thredded-secondary-text-color;
$thredded-spoiler-hidden-color: $thredded-light-gray;
$thredded-spoiler-shown-color: $color-black;
$thredded-code-selected-line-background: #f8eec7;

// Borders
$thredded-base-border-color: $thredded-light-gray;

// Colors of alerts and flash messages
$thredded-alert-danger-background: $color-red-light;
$thredded-alert-danger-color: $color-red;
$thredded-alert-warning-background: $thredded-alert-danger-background;
$thredded-alert-warning-color: $thredded-alert-danger-color;
$thredded-alert-info-background: $color-green-light-2;
$thredded-alert-info-color: $color-green;
$thredded-alert-success-background: $thredded-alert-info-background;
$thredded-alert-success-color: $thredded-alert-info-color;

// Form inputs
$thredded-form-background: $color-gray-light-4;
$thredded-form-border-color: $color-gray-light-2;
$thredded-form-border-hover-color: darken($thredded-form-border-color, 6.4%);
$thredded-form-border-focus-color: $thredded-action-color;
$thredded-form-border: 1px solid $thredded-form-border-color;
$thredded-form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$thredded-form-color: $thredded-text-color;

// Messageboards grid
// Whether to display messageboards as a grid on the desktop screen sizes.
$thredded-messageboards-grid: false;

// import thredded scss
@import 'thredded';
@import "coderay/day";

.thredded--main-navigation {
  @extend .thredded--moderation-navigation;

  margin-bottom: .5rem;
}

.appcamps-logo {
  float: left;
  padding-top: .23rem;
  img {
    min-width: 100%;
    max-width: 200px;
  }
}

.thredded--navigation-breadcrumbs {
  clear: left;
}

a[href=""] {
  pointer-events: none;
  cursor: default;
}
